<a href="https://colab.research.google.com/github/Himanshu-1703/Feature-Engineering/blob/main/Encoding/Count_Frequecy_encoding_and_target_based_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Ordinal Encoding:
Done when the feature follows a particular order.

In [ ]:
df = pd.DataFrame(data=pd.date_range(start='2023-03-15',end='2023-03-30'),columns=['Date'])
df

         Date
0  2023-03-15
1  2023-03-16
2  2023-03-17
3  2023-03-18
4  2023-03-19
5  2023-03-20
6  2023-03-21
7  2023-03-22
8  2023-03-23
9  2023-03-24
10 2023-03-25
11 2023-03-26
12 2023-03-27
13 2023-03-28
14 2023-03-29
15 2023-03-30

In [ ]:
df['day'] = df['Date'].dt.day_name()
df['weekday'] = df['Date'].dt.weekday

In [ ]:
df

         Date        day  weekday
0  2023-03-15  Wednesday        2
1  2023-03-16   Thursday        3
2  2023-03-17     Friday        4
3  2023-03-18   Saturday        5
4  2023-03-19     Sunday        6
5  2023-03-20     Monday        0
6  2023-03-21    Tuesday        1
7  2023-03-22  Wednesday        2
8  2023-03-23   Thursday        3
9  2023-03-24     Friday        4
10 2023-03-25   Saturday        5
11 2023-03-26     Sunday        6
12 2023-03-27     Monday        0
13 2023-03-28    Tuesday        1
14 2023-03-29  Wednesday        2
15 2023-03-30   Thursday        3

### Count or frequency encoding:
Replace the categorical feature with value counts of the category or the frequency or percentage of that category.

In [ ]:
path='/content/drive/MyDrive/csv files/smartphones_cleaned_v6.csv'

df = pd.read_csv(path)

In [ ]:
df.head()

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
0,oneplus,OnePlus 11 5G,54999,89.0,True,True,False,snapdragon,8.0,3.2,...,120,3,1.0,android,50.0,16.0,0,NaN,1440,3216
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.2,...,120,3,1.0,android,64.0,16.0,1,1024.0,1080,2412
2,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,exynos,8.0,2.4,...,90,3,1.0,android,50.0,13.0,1,1024.0,1080,2408
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,snapdragon,8.0,2.2,...,120,3,1.0,android,50.0,16.0,1,1024.0,1080,2400
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,dimensity,8.0,2.6,...,120,3,1.0,android,108.0,16.0,0,NaN,1080,2412

In [ ]:
value_count = df['brand_name'].value_counts().to_dict()

In [ ]:
df['brand_name'].replace(value_count)

0       42
1       42
2      132
3       52
4       97
      ...
975     52
976     13
977     41
978     52
979    132
Name: brand_name, Length: 980, dtype: int64

#### Advantages:
1. Easy to implement.
2. Not increasing the dimensionality of the data.

#### Disadvantages:
1. It will provide same weight if the count frequency of two categories is same.

### Target guided ordinal encoding:
1. Order the labels according to the target.
2. Replace the labels by the joint probability of being 0 and 1.

In [ ]:
path = '/content/drive/MyDrive/csv files/titanic_krish.csv'

df = pd.read_csv(path)

In [ ]:
# check for missing values

df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Cabin'].fillna('Missing',inplace=True)

In [ ]:
df['Cabin'] = df['Cabin'].str[0]

In [ ]:
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
df['Cabin'].value_counts()

M    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64

In [ ]:
map_dict = df.groupby('Cabin')['Survived'].mean().to_dict()

In [ ]:
df['Cabin'].replace(map_dict)

0      0.299854
1      0.593220
2      0.299854
3      0.593220
4      0.299854
         ...
886    0.299854
887    0.744681
888    0.299854
889    0.593220
890    0.299854
Name: Cabin, Length: 891, dtype: float64

**Here the frequencies are calculated based on the target column and these values are encoded**.</br>
This is target based encoding strategy where the encoded value has a relationship with the target column as well.</br>

This technique is mainly called as <mark>mean encoding</mark>

The better approach is not to encode the frequencies directly but to sort the indexes and do integer encoding based on the raking of frequencies.

In [ ]:
encode_index = df.groupby('Cabin')['Survived'].mean().sort_values().index

In [ ]:
encode_index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
df['Cabin']

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

ordinal = OrdinalEncoder(categories=[encode_index])

cabin_trans = ordinal.fit_transform(df[['Cabin']])